<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Verification Using Cognitive Science</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
</head>

<body>
    <img class="profile" src="{{url_for('static',filename='profile.jpg')}}" alt="Profile Image">
    <div class="grid-container">
        <div class="grid-item wide mid nobg nomrg">
            <h1>Document Processing Using Cognitive Science</h1>
        </div>
        <div class="grid-item wide mid nobg nomrg">
            <h3>Project Team:</h3>
        </div>

        <div class="grid-item">
            <h3>Mukul Kadaskar</h3>
            <p>16121002</p>
        </div>

        <div class="grid-item">
            <h3>Prathamesh Pathak</h3>
            <p>16121010</p>
        </div>

        <div class="grid-item">
            <h3>Sanjana Jadhav</h3>
            <p>16121049</p>
        </div>

        <div class="wide mid nobg">
            <h3>Guided By:</h3>
        </div>

        <div class="grid-item grid-center">
            <h3>Dr. S. Ghumbre</h3>
            <p>Head of Department</p>
        </div>

        <div class="grid-item wide mid nobg nomrg">
            <button onclick="parent.location='/login'">
                <h1>Let's Start</h1>
             </button>
        </div>

    </div>
</body>

</html>