<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document Verification</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
</head>

<body>
	{% if Image %}
	<img class="profile" src="{{url_for('static',filename='faces/')}}{{Image}}" alt="Profile Image">
	{% else %}
	<img class="profile" src="{{url_for('static',filename='profile.jpg')}}" alt="Profile Image">
	{% endif %}

	<div class="grid-container">
		{% if qrData %}
			{% for key, value in qrData.items() %}
				<div class="grid-item">
					<h3>{{key.capitalize()}}</h3>
					<p>{{value}}</p>
				</div>
			{% endfor %}
		{% endif %}

		{% if OCR %}
		<div class="grid-item wide">
			<h3>OCR Text</h3>
			<p>{{OCR}}</p>
		</div>
		{% endif %}

	</div>

</body>

</html>